<div class="container">
  <div class="row">
    <div class="mx-auto">

      <div style="margin-top: 10px;">
        <h1>Editing Book</h1>
        
        <% if @book.errors.any? %>
        <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
        <% end %>

        <%= form_with model: @book, url: book_path(params[:id]), method: :patch do |f| %>
        
          <div style="margin-bottom: 10px;">
            <div>Title</div>
            <%= f.text_field :title, style: "width: 500px;" %>
          </div>
          
          <div style="margin-bottom: 10px;">
            <div>Opinion</div>
            <%= f.text_area :body, style: "width: 500px;" %>
          </div>
          
          <div style="margin-bottom: 10px;">
            <%= f.submit 'Update Book', class: "btn btn-primary text-white", style: "background-color: green;" %>
          </div>
          
          <div>
          <%= link_to 'Show', book_path(params[:id]) %>
          |
          <%= link_to 'Back', books_path %>
          </div>
          
        <% end %>
      </div>
      
    </div>
  </div>
</div>