<div class="container">
  <div class="row">
    
    <div class="col-md-3">
      <%= render 'users/list', book: @book, user: @user %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>
            <% @books_all.each do |book| %>
              <tr onmouseover="this.style.backgroundColor='lightgray'" onmouseout="this.style.backgroundColor='white'">
                <td><%= link_to image_tag(book.user.get_image, size: "100x100"), user_path(book.id) %></td>
                <td><%= link_to book.title, book_path(book.id) %></td>
                <td><%= book.body %></td>
                <% if book.favorited_by?(current_user) %>
                  <td>
                    <%= link_to book_favorites_path(book), method: :delete do %>
                      <i class="fa-solid fa-heart" style="color: red;"></i><span class="heart-count"><%= book.favorites.count %></span>
                    <% end %>
                  </td>
                  <% else %>
                  <td>
                    <%= link_to book_favorites_path(book), method: :post do %>
                      <i class="fa-solid fa-heart"></i><%= book.favorites.count %>
                    <% end %>
                  </td>
                <% end %>   
                <td>コメント数: <%= book.book_comments.count %></td>
              </tr>
            <% end %>
          </ul>
        </tbody>
      </table>
      
    </div>
    
    
  </div>
</div>
